{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet'>
    </head>
    <body>
        <div class='container'>
            {% block navbar %}
                
            {% endblock %}
            {% block content %}
                
            {% endblock %}
        </div>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity='' crossorigin='anonymous'></script>
        {{ redirect_to_login_immediately }}
    </body>
</html>