{% load static%}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link href="{% static 'css\bootstrap.css' %}" rel='stylesheet'>
    </head>
    <body>
        <div class='container'>
            {% block content %}
                
            {% endblock %}
        </div>
        <script src="{% static 'js\bootstrap.js' %}" integrity='sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN' crossorigin='anonymous'></script>
    </body>
</html>