{% extends 'base.html' %}
{% block title %} {{ title }} Просмотр мероприятий {{ block.super }} {% endblock %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <h1 class="text-center">Ученики {{ school_class }} класса</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ФИО</th>
              <th scope="col"></th>
              <th scope="col">Ссылка</th>
            </tr>
        </thead>
        {% for student in students %}
            <tbody>
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ student.full_name }}</td>
                <td></td>
                <td><a href="{% url 'student_view' student.id %}">посмотреть учащегося</a></td>
              </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock content %}