{% extends 'base.html' %}
{% block title %} {{ title }} Экспортировать мероприятия {{ block.super }} {% endblock %}
{% load add_class %}
{% block content %}
    {% include 'includes/navbar.html' %}
    <div class="card">
        <div class="text-center card-header"><h2>Экспортировать мероприятия</h2></div>
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <div class="d-grid">
                    <button class="btn btn-primary" type="submit" style="margin-bottom: 10px;">Экспортировать в excel</button>
                    <a href="{% url 'list' %}" class="btn btn-primary" type="button">Назад</a>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}